@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://i.ibb.co/7GRmBtB/57cc3a40c01abb0e9483ef24c14be410.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
    background-color: #e74c3c;
}

.activation {
    background-color: #e67e22;
    margin-right: 10px;
}

.header-logo {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    float: left;
    color: white;
    display: block;
    padding: 13px 15px;
}

header {
    height: 65px;
    width: 100%;
    color: #034ea2;
    background: url(https://cdn.pixabay.com/photo/2015/09/13/20/48/background-938721_1280.jpg);
/*     background-color: #e74c3c; */
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
    float: right;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.logo {
  width: 50px;
  margin-top: 5px;
  padding-left: 5px;
}

footer img {
  width: 200px;
  margin-bottom: 0;
}

footer p {
    color: #1c5fab;
    font-size: 15px;
    margin-top: 0;
}

footer {
  border-top: 1px solid #eee;
  padding-top: 30px;
  padding-bottom: 20px;
}


.btn {
    padding: 14px 24px;
    color: white;
    display: inline-block;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    margin-left: 10px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h1 {
    font-weight: bold;
    font-size: 50px;
    color: #034ea2;
}

.heading h2 {
    font-weight: normal;
    font-size: 30px;
    color: #034ea2;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  top: 44%;
  width: 100%;
  color: black;
  font-size: 50px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: black;
}

.tambahan-banner {
    position: relative;
    background: url(https://cdn.pixabay.com/photo/2015/09/13/20/48/background-938721_1280.jpg);
    height: 200px;
    background-size: cover;
}

.gambar-footer {
    padding-top: 40px; 
}

.tambahan h2 {
  position: absolute;
  top: 60px;
  width: 100%;
  font-weight: normal;
  color: white;
  text-align: center;
  opacity: unset;
}

.banner {
  width: 100%;
  margin: auto;
  height: 170px;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #e74c3c;
    cursor: pointer;
    box-shadow: 0 7px #c0392b;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
